@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {

}

// ≥992px
@include media-breakpoint-down(md) {
  footer {
    .copyright p {
      text-align: center;
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {
body header h5:after, body header h5:before {
  display: none;
}
  header {
  nav {
    a {
      margin-top: 20px;
    }
  }
}
  main {
    a.a-button {
      font-size: 16px;
      padding: 10px 35px;
    }
    .blog__unit {
      text-align: center;
    }
    .info__unit {
      text-align: center;
      div.line {
        width: 50%;
        margin: 0 auto;
        background: linear-gradient(to right, rgba(41, 49, 57, 0.06));
      }
      h3 {
        text-align: center;
      }
    }
    .communication__unit {
      text-align: center;
      h3 {
        text-align: center;
      }
      hr {
        width: 50%;
      }
    }
    .single__unit {
      text-align: center;
      .single__unit--text {
        margin-top: 20px;
        h3 {
          text-align: center;
        }
        div.line {
          width: 50%;
          margin: 0 auto;
          background: linear-gradient(to right, rgba(41, 49, 57, 0.06));
        }
      }
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .properties__unit {
    hr {
      width: 25%;
    }
  }
}

/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
}

// ≤768px
@include media-breakpoint-up(md) {
}

// ≤992px
@include media-breakpoint-up(lg) {
}

// ≤1200px
@include media-breakpoint-up(xl) {
}
