@import "vars";
@import "fonts";
@import "libs";

::placeholder {
  color: #666;
}
::selection {
  background-color: $accent;
  color: #fff;
}
a {
  @include a();
}
.a-button {
  @include a-button();
}
p {
  @include p();
}
b,
strong {
  font-weight: bold;
}
button {
  @include button();
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}
.text-center {
  text-align: center;
}
.line {
  height: 2px;
  background: linear-gradient(to right, rgba(41, 49, 57, 0.06), rgb(235, 235, 236));
  margin-top: 20.8px;
}
input,
textarea {
  border: #666 1px solid;
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}
h5 {
  font-family: $PTSans;
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 1.6;
}
h4 {
  font-family: $PTSans;
  color: #40474e;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}
h3 {
  font-family: $PTSans;
  color: #40474e;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.333;
  text-align: left;
  text-transform: uppercase;
  z-index: 2;
}
h2 {
  font-family: "Great Vibes", cursive;
  color: #fff;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
h1 {
  font-family: "Ubuntu";
  margin-top: 15vh;
  color: rgb(252, 252, 252);
  font-size: 4rem;
  font-weight: 700;
  line-height: 3.5rem;
  text-align: center;
}
hr {
  background-color: rgba(41, 49, 57, 0.06);
  width: 100%;
  height: 0.125rem;
  border: none;
  z-index: 2;
}
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  background-color: #f0f0f0;
  color: $text;
  header {
    background: url("../img/Best-Green-Forest.jpg"), url("../img/header-cover.png");
    background-blend-mode: multiply;
    height: 100vh;
    background-size: cover;
    background-position: auto auto;
    h2 {
      margin-top: 4.1rem;
    }
    a {
      @include a();
      font-size: 0.813rem;
      font-weight: 600;
      line-height: 1.846;
      text-align: center;
      margin-top: 6rem;
      color: rgb(255, 255, 255);
    }
    h1 {
      margin-top: 15vh;
    }
    h5 {
      margin-top: 3rem;
      color: rgb(255, 255, 255);
      &:after,
      &:before {
        content: "";
        display: inline-block;
        position: relative;
        top: -1px;
        width: 6.3rem;
        height: 2px;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0.24);
      }
      &:after {
        left: 3rem;
      }
      &:before {
        left: -3rem;
      }
    }
    a.a-button {
      padding: 10px 40px;
      align-self: center;
    }
  }
  main {
    max-width: 800px;
    margin: 0 auto;
    border-left: 1px solid #e1e3e4;
    border-right: 1px solid #e1e3e4;
    .properties {
      background-color: $section-grey;
      padding: 3rem 0;
      h3 {
        margin-top: 1.5rem;
        text-align: center;
      }
      hr {
        max-width: 80%;
        margin-top: 0.8rem;
      }
      p {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
    .blog {
      background-color: $section-grey-light;
      padding: 4rem 0 1rem;
      position: relative;
      .blog__unit {
        max-width: 264px;
        height: auto;
        margin: 0 auto;
        padding-bottom: 2rem;
        div {
          width: 100%;
          height: 167px;
          img {
            width: 100%;
            height: auto;
          }
        }
        p {
          text-align: left;
          z-index: 1;
          margin-top: 21px;
        }
        hr {
          text-align: left;
          z-index: 1;
          margin-top: 1.4rem;
        }
        h3 {
          margin-top: 2.3rem;
          color: #40474e;
          font-family: $PTSans;
          font-size: 18px;
          line-height: 1rem;
          text-transform: uppercase;
          letter-spacing: 0;
          z-index: 1;
        }
        p {
          margin-bottom: 2rem;
        }
      }
    }
    .info {
      background-color: $section-grey;
      position: relative;
      padding: 4rem 0;

      .info__unit {
        max-width: 620px;
        margin: 0 auto;
        padding: 0 2.5%;
        a {
          h3 {
            transition: all 0.5s ease-in-out;
            &:hover {
              color: $hover;
            }
            &::before {
              content: url("/img/lifebuoy.png");
              position: relative;
              display: inline-flex;
              vertical-align: middle;
              padding-right: 0.95rem;
            }
          }
        }
        p {
          margin-top: 1.4rem;
          margin-bottom: 2.5rem;
        }
      }
    }
    .plus {
      background-color: $section-grey-light;
      padding: 3.6rem 0 2.8rem;
      .plus__unit {
        max-width: 181px;
        margin: 0 auto;
        padding-bottom: 1rem;
        div {
          width: 100%;
          height: 138px;
          img {
            width: 100%;
            height: auto;
          }
        }
        h4 {
          margin: 31px 0 20px;
          text-transform: uppercase;
          &:hover {
            transition: 1s;
            color: $hover;
          }
        }
        p {
          margin: 1.5rem 0 1.77rem;
        }
        .col-plus__link {
          color: #50c3af;
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.714;
          text-align: right;
        }
      }
    }
    .communication {
      background-color: $section-grey;
      padding: 4.1rem 0 2rem;
      .communication__unit {
        padding-bottom: 40px;
        .send:before {
          content: url("/img/paper_airplane.png");
          position: relative;
          display: inline-flex;
          vertical-align: middle;
          padding-right: 0.95rem;
        }
        .see:before {
          content: url("/img/pensil.png");
          position: relative;
          display: inline-flex;
          vertical-align: middle;
          padding-right: 0.95rem;
        }
        hr {
          margin-top: 19px;
        }
        p {
          margin-top: 25px;
          margin-bottom: 40px;
        }
      }
    }
    .single {
      background-color: $section-grey-light;
      padding: 2.85rem 0.5rem;
      .single__unit {
        display: flex;
        flex-flow: row wrap;
        padding-bottom: 1rem;
        .single__unit--img {
          max-width: 264px;
          height: 208px;
          margin: 0 auto;
          image {
            width: 100%;
            height: auto;
          }
        }
        .single__unit--text {
          width: 100%;
          h3 {
            letter-spacing: 0.01rem;
          }
          p {
            margin-top: 20px;
            margin-bottom: 30px;
          }
        }
      }
    }
    .partners {
      background-color: $hover;
      padding: 2.3rem;
      .partners__lead {
        max-width: 327px;
        margin: 0 auto;
        h5 {
          color: #fff;
          text-transform: uppercase;
          &:before {
            content: url("/img/star.png");
            display: inline-block;
            position: relative;
            vertical-align: middle;
            padding-right: 0.5rem;
          }
        }
        hr {
          background-color: #f5f5f5;
          opacity: 0.1;
          margin-bottom: 30px;
        }
      }
      .partners__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        img {
          align-self: flex-start;
          padding-bottom: 1rem;
        }
      }
    }
  }
  footer {
    max-width: 800px;
    margin: 0 auto;
    border-left: 1px solid #e1e3e4;
    border-right: 1px solid #e1e3e4;
    padding: 1.5rem 0 1.3125rem;
    .copyright {
      span {
        color: #40474e;
      }
      a {
        @include p();
      }
    }
    .social {
      margin: 0 0.3rem;
      svg {
        width: 16px;
        height: 16px;
        fill: #abaeb3;
        margin: 0 6px;
        transition: all 0.5s ease-in-out;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          fill: #50c3af;
        }
      }
      #google {
        width: 20px;
        height: 20px;
      }
      #twitter {
        width: 19px;
        height: 19px;
      }
      a:nth-child(3) {
        padding-left: 0.3rem;
      }
    }
  }
}

@import "media"; // Always at the end
